<%- include('header') -%> 

<h1>Contactanos</h1>
<h3>Llene el formulario</h3>

<form action="/contactanos" method="POST">
  <input type="text" name="nombre" placeholder="Nombre">
  <input type="email" name="email" placeholder="Correo electrónico">
  <button type="submit"> Enviar </button>
</form>

<%- include('footer') -%> 